In [3]:
import pandas as pd
import os
import re

def process_excel_file(year):
    """
    Processes a single Excel file with 12 monthly worksheets, creates a 
    time-series DataFrame, and saves it to CSV.
    """
    excel_filename=f"FuelMixReport_PreviousYears/IntGenbyFuel{year}.xlsx"
    # 1. Define the order of sheets to process
    month_names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 
                   'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    
    # This regex pattern strictly matches time formats like '0:15', '1:00', or '24:00'
    time_pattern = re.compile(r'^\d{1,2}:\d{2}$')
    
    # These are the ID columns that we will not melt
    id_vars = ['Date', 'Fuel', 'Settlement Type', 'Total']
    
    all_monthly_dfs = []

    # 2. Read the entire Excel file into a dictionary of DataFrames
    print(f"Reading all worksheets from {excel_filename}...")
    try:
        # sheet_name=None reads all sheets.
        all_sheets = pd.read_excel(excel_filename, sheet_name=None)
    except FileNotFoundError:
        print(f"Error: File not found: {excel_filename}")
        print("Please upload the single .xlsx file to run this script.")
        return
    except Exception as e:
        print(f"Error reading Excel file: {e}")
        return

    # 3. Loop, Read, and Melt
    print(f"Processing 12 monthly worksheets...")
    for month_name in month_names:
        if month_name not in all_sheets:
            print(f"Warning: Worksheet '{month_name}' not found in the Excel file. Skipping.")
            continue
        
        try:
            df = all_sheets[month_name]
            
            # Identify time columns *for this specific worksheet*
            potential_time_cols = [col for col in df.columns if col not in id_vars]
            time_cols = [col for col in potential_time_cols if time_pattern.match(str(col))]
            
            if not time_cols:
                print(f"Warning: No valid time columns found in sheet '{month_name}'. Skipping.")
                continue

            # Melt the DataFrame from wide to long format
            df_long = df.melt(
                id_vars=['Date', 'Fuel'], 
                value_vars=time_cols, 
                var_name='Time',         # New column for '0:15', '0:30', etc.
                value_name='Generation_MW' # New column for the values
            )
            all_monthly_dfs.append(df_long)
            
        except Exception as e:
            print(f"Error processing sheet '{month_name}': {e}")
            
    if not all_monthly_dfs:
        print("No data was successfully processed from any worksheet. Exiting.")
        return

    # 4. Combine
    print("Combining data...")
    combined_df = pd.concat(all_monthly_dfs, ignore_index=True)

    # 5. Clean Generation_MW column
    combined_df['Generation_MW'] = pd.to_numeric(combined_df['Generation_MW'], errors='coerce')
    combined_df = combined_df.dropna(subset=['Generation_MW'])

    # 6. Create Datetime Index
    print("Creating datetime index...")
    
    # Ensure the 'Time' column is a string before doing string operations
    combined_df['Time'] = combined_df['Time'].astype(str)
    
    # Store which rows are '24:00' (end of day)
    is_2400 = (combined_df['Time'] == '24:00')
    
    # Replace '24:00' with '0:00' to make parsing uniform
    time_adj = combined_df['Time'].str.replace('24:00', '0:00')
    
    # Convert 'Date' column to datetime, then back to string to ensure 'YYYY-MM-DD' format
    date_str = pd.to_datetime(combined_df['Date']).dt.strftime('%Y-%m-%d')
    
    # Create the full datetime string (e.g., '2023-01-01 0:15')
    datetime_str = date_str + ' ' + time_adj
    
    # Convert to datetime. This is the *end* of the interval.
    interval_end_dt = pd.to_datetime(datetime_str, format='%Y-%m-%d %H:%M', errors='coerce')
    
    # Add 1 day to all the rows that were originally '24:00'
    interval_end_dt.loc[is_2400] = interval_end_dt.loc[is_2400] + pd.Timedelta(days=1)

    # Check for any parsing errors
    bad_rows = interval_end_dt.isna()
    if bad_rows.any():
        print(f"Found and dropped rows with problematic date/time strings.")
        combined_df = combined_df[~bad_rows]
        interval_end_dt = interval_end_dt.dropna()

    if combined_df.empty:
        print("No valid data remaining after time conversion. Exiting.")
        return
        
    # The final datetime is the *start* of the interval (end time - 15 mins)
    combined_df['datetime'] = interval_end_dt - pd.Timedelta(minutes=15)

    # 7. Pivot
    print("Pivoting DataFrame...")
    final_df = combined_df.pivot_table(
        index='datetime', 
        columns='Fuel', 
        values='Generation_MW', 
        aggfunc='sum'
    )
    
    # 8. Clean and Save
    final_df = final_df.sort_index()
    final_df = final_df.fillna(0) # Assume missing values are 0 generation
    output_csv = f'ercot_generation_by_fuel_{year}_timeseries_from_excel.csv'
    final_df.to_csv(output_csv)
    
    print("\n--- Success! ---")
    print(f"Successfully processed data and saved to: {output_csv}")
    print("\nDataFrame Head:")
    print(final_df.head())
    print("\nDataFrame Info:")
    final_df.info()

    return final_df

In [4]:
for year in range(2016,2026):
    process_excel_file(year)

Reading all worksheets from FuelMixReport_PreviousYears/IntGenbyFuel2016.xlsx...
Processing 12 monthly worksheets...
Warning: Worksheet 'Jan' not found in the Excel file. Skipping.
Warning: Worksheet 'Feb' not found in the Excel file. Skipping.
Warning: Worksheet 'Mar' not found in the Excel file. Skipping.
Warning: Worksheet 'Apr' not found in the Excel file. Skipping.
Warning: Worksheet 'May' not found in the Excel file. Skipping.
Warning: Worksheet 'Jun' not found in the Excel file. Skipping.
Warning: Worksheet 'Jul' not found in the Excel file. Skipping.
Warning: Worksheet 'Aug' not found in the Excel file. Skipping.
Warning: Worksheet 'Sep' not found in the Excel file. Skipping.
Warning: Worksheet 'Oct' not found in the Excel file. Skipping.
Warning: Worksheet 'Nov' not found in the Excel file. Skipping.
Warning: Worksheet 'Dec' not found in the Excel file. Skipping.
No data was successfully processed from any worksheet. Exiting.
Reading all worksheets from FuelMixReport_PreviousYears/IntGenbyFuel2017.xlsx...
Processing 12 monthly worksheets...
Combining data...
Creating datetime index...
Pivoting DataFrame...

--- Success! ---
Successfully processed data and saved to: ercot_generation_by_fuel_2017_timeseries_from_excel.csv

DataFrame Head:
Fuel                   Biomass         Coal         Gas       Gas-CC  \
datetime
2016-12-31 23:45:00  13.516539  2194.360961  204.550559   784.408180
2017-01-01 00:00:00  14.075394  4314.453941  217.786501  1089.048595
2017-01-01 00:15:00  14.071301  4321.568298  219.407610   996.812974
2017-01-01 00:30:00  14.081591  4290.613423  214.255654   997.357426
2017-01-01 00:45:00  14.085300  4280.098265  214.360903   966.491013

Fuel                    Hydro      Nuclear     Other  Solar         Wind
datetime
2016-12-31 23:45:00  8.663920  1278.015976  1.285530    0.0  2886.245382
2017-01-01 00:00:00  8.742741  1278.143853  0.835550    0.0   541.572994
2017-01-01 00:15:00  8.726228  1277.760920  0.828984    0.0   527.761530
2017-01-01 00:30:00  8.755726  1277.821918  0.837298    0.0   534.667063
2017-01-01 00:45:00  8.740361  1277.783077  0.838726    0.0   540.790930

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35036 entries, 2016-12-31 23:45:00 to 2017-12-31 23:30:00
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Biomass  35036 non-null  float64
 1   Coal     35036 non-null  float64
 2   Gas      35036 non-null  float64
 3   Gas-CC   35036 non-null  float64
 4   Hydro    35036 non-null  float64
 5   Nuclear  35036 non-null  float64
 6   Other    35036 non-null  float64
 7   Solar    35036 non-null  float64
 8   Wind     35036 non-null  float64
dtypes: float64(9)
memory usage: 2.7 MB
Reading all worksheets from FuelMixReport_PreviousYears/IntGenbyFuel2018.xlsx...
Processing 12 monthly worksheets...
Combining data...
Creating datetime index...
Pivoting DataFrame...

--- Success! ---
Successfully processed data and saved to: ercot_generation_by_fuel_2018_timeseries_from_excel.csv

DataFrame Head:
Fuel                   Biomass         Coal         Gas       Gas-CC  \
datetime
2017-12-31 23:45:00  12.549833  4143.650633  941.885448  5819.728021
2018-01-01 00:00:00  13.457549  3942.410077  688.936298  5596.204500
2018-01-01 00:15:00  13.228781  3949.370313  685.619494  5599.707056
2018-01-01 00:30:00  13.131884  3953.556692  690.002912  5579.441966
2018-01-01 00:45:00  13.128581  3961.288421  707.757948  5574.560739

Fuel                     Hydro      Nuclear     Other  Solar         Wind
datetime
2017-12-31 23:45:00  15.222616  1279.436181 -0.125780    0.0   873.499668
2018-01-01 00:00:00  15.162467  1278.263330  0.556550    0.0  1159.387114
2018-01-01 00:15:00  15.107859  1277.863000  0.545755    0.0  1162.136928
2018-01-01 00:30:00  15.095289  1278.100541  0.529034    0.0  1154.437326
2018-01-01 00:45:00  15.133884  1277.720118  0.472317    0.0  1156.137755

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35036 entries, 2017-12-31 23:45:00 to 2018-12-31 23:30:00
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Biomass  35036 non-null  float64
 1   Coal     35036 non-null  float64
 2   Gas      35036 non-null  float64
 3   Gas-CC   35036 non-null  float64
 4   Hydro    35036 non-null  float64
 5   Nuclear  35036 non-null  float64
 6   Other    35036 non-null  float64
 7   Solar    35036 non-null  float64
 8   Wind     35036 non-null  float64
dtypes: float64(9)
memory usage: 2.7 MB
Reading all worksheets from FuelMixReport_PreviousYears/IntGenbyFuel2019.xlsx...
Processing 12 monthly worksheets...
Combining data...
Creating datetime index...
Pivoting DataFrame...

--- Success! ---
Successfully processed data and saved to: ercot_generation_by_fuel_2019_timeseries_from_excel.csv

DataFrame Head:
Fuel                   Biomass         Coal         Gas       Gas-CC  \
datetime
2018-12-31 23:45:00  12.006403  2858.106140  525.082782  4976.967618
2019-01-01 00:00:00  12.251185  1529.104760  180.606435  2947.595603
2019-01-01 00:15:00  12.245844  1520.332865  160.349899  2948.503084
2019-01-01 00:30:00  12.254418  1535.747438  146.806353  3014.702034
2019-01-01 00:45:00  12.247587  1586.027458  146.523069  3014.588329

Fuel                     Hydro     Nuclear     Other  Solar         Wind
datetime
2018-12-31 23:45:00  40.091729  972.842326 -0.326857    0.0   619.392721
2019-01-01 00:00:00  46.366324  973.987985  0.633693    0.0  3577.841113
2019-01-01 00:15:00  46.923468  973.853690  1.254921    0.0  3623.395114
2019-01-01 00:30:00  46.857019  973.998069  0.320638    0.0  3623.959663
2019-01-01 00:45:00  46.748030  973.781277  0.588556    0.0  3611.164332

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35036 entries, 2018-12-31 23:45:00 to 2019-12-31 23:30:00
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Biomass  35036 non-null  float64
 1   Coal     35036 non-null  float64
 2   Gas      35036 non-null  float64
 3   Gas-CC   35036 non-null  float64
 4   Hydro    35036 non-null  float64
 5   Nuclear  35036 non-null  float64
 6   Other    35036 non-null  float64
 7   Solar    35036 non-null  float64
 8   Wind     35036 non-null  float64
dtypes: float64(9)
memory usage: 2.7 MB
Reading all worksheets from FuelMixReport_PreviousYears/IntGenbyFuel2020.xlsx...
Processing 12 monthly worksheets...
Combining data...
Creating datetime index...
Pivoting DataFrame...

--- Success! ---
Successfully processed data and saved to: ercot_generation_by_fuel_2020_timeseries_from_excel.csv

DataFrame Head:
Fuel                  Biomass         Coal         Gas       Gas-CC     Hydro  \
datetime
2019-12-31 23:45:00  8.478195  1636.090874  153.754631  2320.538850  3.205742
2020-01-01 00:00:00  8.897137  1424.554673  158.861450  3173.084153  6.412875
2020-01-01 00:15:00  8.857404  1424.204785  160.416656  3123.866670  9.245649
2020-01-01 00:30:00  8.780167  1452.406880  160.022975  3031.577518  6.952231
2020-01-01 00:45:00  8.756302  1463.547569  158.432587  2978.271208  4.997161

Fuel                     Nuclear     Other   Solar         Wind
datetime
2019-12-31 23:45:00   961.475292 -0.631909  0.0000  3668.619960
2020-01-01 00:00:00  1274.799461 -0.183371  0.0000  3138.775291
2020-01-01 00:15:00  1274.809697  0.522874  0.0000  3180.096537
2020-01-01 00:30:00  1274.877725  0.007200  0.0035  3236.874116
2020-01-01 00:45:00  1274.198605 -1.299122  0.0000  3277.107962

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35132 entries, 2019-12-31 23:45:00 to 2020-12-31 23:30:00
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Biomass  35132 non-null  float64
 1   Coal     35132 non-null  float64
 2   Gas      35132 non-null  float64
 3   Gas-CC   35132 non-null  float64
 4   Hydro    35132 non-null  float64
 5   Nuclear  35132 non-null  float64
 6   Other    35132 non-null  float64
 7   Solar    35132 non-null  float64
 8   Wind     35132 non-null  float64
dtypes: float64(9)
memory usage: 2.7 MB
Reading all worksheets from FuelMixReport_PreviousYears/IntGenbyFuel2021.xlsx...
Processing 12 monthly worksheets...
Combining data...
Creating datetime index...
Pivoting DataFrame...

--- Success! ---
Successfully processed data and saved to: ercot_generation_by_fuel_2021_timeseries_from_excel.csv

DataFrame Head:
Fuel                  Biomass         Coal         Gas       Gas-CC     Hydro  \
datetime
2020-12-31 23:45:00  7.398197  2658.397475  257.447323  5292.215201  3.075480
2021-01-01 00:00:00  7.411995  1562.671544  322.166053  4320.059659  8.969116
2021-01-01 00:15:00  7.406062  1569.063113  311.591247  4234.444620  8.855274
2021-01-01 00:30:00  7.412330  1550.287075  314.881020  4205.231653  8.869266
2021-01-01 00:45:00  7.411520  1544.381811  315.973877  4187.540619  8.906697

Fuel                     Nuclear     Other     Solar         Wind
datetime
2020-12-31 23:45:00  1276.389508  0.164349  0.002565  1107.766958
2021-01-01 00:00:00  1275.742096  0.301951  0.000125  3463.965932
2021-01-01 00:15:00  1275.623739  0.216832  0.000128  3479.308254
2021-01-01 00:30:00  1276.038355  1.124899  0.000129  3514.153471
2021-01-01 00:45:00  1275.792149  1.227331  0.000130  3527.334364

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35036 entries, 2020-12-31 23:45:00 to 2021-12-31 23:30:00
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Biomass  35036 non-null  float64
 1   Coal     35036 non-null  float64
 2   Gas      35036 non-null  float64
 3   Gas-CC   35036 non-null  float64
 4   Hydro    35036 non-null  float64
 5   Nuclear  35036 non-null  float64
 6   Other    35036 non-null  float64
 7   Solar    35036 non-null  float64
 8   Wind     35036 non-null  float64
dtypes: float64(9)
memory usage: 2.7 MB
Reading all worksheets from FuelMixReport_PreviousYears/IntGenbyFuel2022.xlsx...
Processing 12 monthly worksheets...
Combining data...
Creating datetime index...
Pivoting DataFrame...

--- Success! ---
Successfully processed data and saved to: ercot_generation_by_fuel_2022_timeseries_from_excel.csv

DataFrame Head:
Fuel                   Biomass         Coal         Gas       Gas-CC  \
datetime
2021-12-31 23:45:00  18.249205  1397.810291  272.670426  2514.385194
2022-01-01 00:00:00   5.570273  2762.621057  302.929192  2199.809321
2022-01-01 00:15:00   5.581878  2785.651629  317.926985  2155.421868
2022-01-01 00:30:00   5.566100  2723.990641  355.760697  2095.781909
2022-01-01 00:45:00   5.577449  2645.493875  331.021529  2044.425273

Fuel                    Hydro      Nuclear      Other  Solar        WSL  \
datetime
2021-12-31 23:45:00  2.482978  1270.800180   6.590244    0.0  -5.934271
2022-01-01 00:00:00  8.036423  1269.883142   5.896873    0.0 -10.187559
2022-01-01 00:15:00  8.075452  1270.434601  16.398871    0.0 -18.238617
2022-01-01 00:30:00  7.937883  1269.657271   0.791042    0.0 -41.979132
2022-01-01 00:45:00  6.642016  1269.765473   5.336719    0.0 -15.126962

Fuel                        Wind
datetime
2021-12-31 23:45:00  5309.620179
2022-01-01 00:00:00  2986.835059
2022-01-01 00:15:00  2967.499570
2022-01-01 00:30:00  3031.840304
2022-01-01 00:45:00  3067.303947

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35036 entries, 2021-12-31 23:45:00 to 2022-12-31 23:30:00
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Biomass  35036 non-null  float64
 1   Coal     35036 non-null  float64
 2   Gas      35036 non-null  float64
 3   Gas-CC   35036 non-null  float64
 4   Hydro    35036 non-null  float64
 5   Nuclear  35036 non-null  float64
 6   Other    35036 non-null  float64
 7   Solar    35036 non-null  float64
 8   WSL      35036 non-null  float64
 9   Wind     35036 non-null  float64
dtypes: float64(10)
memory usage: 2.9 MB
Reading all worksheets from FuelMixReport_PreviousYears/IntGenbyFuel2023.xlsx...
Processing 12 monthly worksheets...
Combining data...
Creating datetime index...
Pivoting DataFrame...

--- Success! ---
Successfully processed data and saved to: ercot_generation_by_fuel_2023_timeseries_from_excel.csv

DataFrame Head:
Fuel                  Biomass        Coal         Gas       Gas-CC     Hydro  \
datetime
2022-12-31 23:45:00  4.171277  895.728246  122.363679  1263.459487  1.093971
2023-01-01 00:00:00  4.185436  921.604654  164.266324  1401.927280  4.053273
2023-01-01 00:15:00  4.182232  893.081975  162.040533  1338.986303  5.952185
2023-01-01 00:30:00  4.184353  881.553732  158.855930  1295.088153  6.008958
2023-01-01 00:45:00  4.183658  863.928866  158.186564  1280.607814  5.877862

Fuel                     Nuclear     Other  Solar        WSL         Wind
datetime
2022-12-31 23:45:00  1275.899223  2.534023    0.0 -22.782410  5779.415217
2023-01-01 00:00:00  1277.477718  1.431746    0.0 -29.810096  5389.258859
2023-01-01 00:15:00  1277.697111  6.522572    0.0  -2.712604  5398.169670
2023-01-01 00:30:00  1277.609374  6.853462    0.0  -6.145239  5439.582984
2023-01-01 00:45:00  1277.783076  5.005813    0.0 -10.130714  5458.294312

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35036 entries, 2022-12-31 23:45:00 to 2023-12-31 23:30:00
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Biomass  35036 non-null  float64
 1   Coal     35036 non-null  float64
 2   Gas      35036 non-null  float64
 3   Gas-CC   35036 non-null  float64
 4   Hydro    35036 non-null  float64
 5   Nuclear  35036 non-null  float64
 6   Other    35036 non-null  float64
 7   Solar    35036 non-null  float64
 8   WSL      35036 non-null  float64
 9   Wind     35036 non-null  float64
dtypes: float64(10)
memory usage: 2.9 MB
Reading all worksheets from FuelMixReport_PreviousYears/IntGenbyFuel2024.xlsx...
Processing 12 monthly worksheets...
Combining data...
Creating datetime index...
Pivoting DataFrame...

--- Success! ---
Successfully processed data and saved to: ercot_generation_by_fuel_2024_timeseries_from_excel.csv

DataFrame Head:
Fuel                  Biomass         Coal         Gas       Gas-CC     Hydro  \
datetime
2023-12-31 23:45:00  3.023714  2406.774758  522.683208  5100.742466  0.909171
2024-01-01 00:00:00  3.216219  1476.689500  237.786288  3544.756845  0.911694
2024-01-01 00:15:00  3.219144  1475.405854  241.529952  3631.448042  0.911851
2024-01-01 00:30:00  3.218064  1472.731970  247.073628  3762.108310  0.920944
2024-01-01 00:45:00  3.216283  1469.646752  252.217208  3840.076054  0.924173

Fuel                     Nuclear      Other     Solar        WSL         Wind
datetime
2023-12-31 23:45:00  1276.184413   1.495531  0.000030 -81.887780  2302.414292
2024-01-01 00:00:00  1274.940927   5.271010  0.004708 -55.033991  3814.359739
2024-01-01 00:15:00  1275.050525  11.326247  0.003572 -46.670236  3736.245080
2024-01-01 00:30:00  1275.066010   3.754753  0.000112 -20.644275  3650.104846
2024-01-01 00:45:00  1275.048862   1.601927  0.000026 -26.296354  3604.343093

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35132 entries, 2023-12-31 23:45:00 to 2024-12-31 23:30:00
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Biomass  35132 non-null  float64
 1   Coal     35132 non-null  float64
 2   Gas      35132 non-null  float64
 3   Gas-CC   35132 non-null  float64
 4   Hydro    35132 non-null  float64
 5   Nuclear  35132 non-null  float64
 6   Other    35132 non-null  float64
 7   Solar    35132 non-null  float64
 8   WSL      35132 non-null  float64
 9   Wind     35132 non-null  float64
dtypes: float64(10)
memory usage: 2.9 MB
Reading all worksheets from FuelMixReport_PreviousYears/IntGenbyFuel2025.xlsx...
Error: File not found: FuelMixReport_PreviousYears/IntGenbyFuel2025.xlsx
Please upload the single .xlsx file to run this script.

In [5]:
process_excel_file(2025)

Reading all worksheets from FuelMixReport_PreviousYears/IntGenbyFuel2025.xlsx...
Processing 12 monthly worksheets...
Error processing sheet 'Oct': "The following id_vars or value_vars are not present in the DataFrame: ['Fuel']"
Error processing sheet 'Nov': "The following id_vars or value_vars are not present in the DataFrame: ['Fuel']"
Error processing sheet 'Dec': "The following id_vars or value_vars are not present in the DataFrame: ['Fuel']"
Combining data...
Creating datetime index...
Pivoting DataFrame...

--- Success! ---
Successfully processed data and saved to: ercot_generation_by_fuel_2025_timeseries_from_excel.csv

DataFrame Head:
Fuel                  Biomass         Coal         Gas       Gas-CC     Hydro  \
datetime
2024-12-31 23:45:00  3.048085  1934.772915  296.505007  3839.913792  1.042736
2025-01-01 00:00:00  3.054841  1635.159759  222.914735  4356.562359  1.033143
2025-01-01 00:15:00  3.049060  1591.098918  224.037142  4359.891349  1.033923
2025-01-01 00:30:00  3.054768  1555.589102  224.465410  4359.030173  1.034740
2025-01-01 00:45:00  3.053916  1518.956907  232.559316  4384.863310  1.034923

Fuel                     Nuclear      Other     Solar         WSL         Wind
datetime
2024-12-31 23:45:00  1271.347524  13.749501  0.000018 -222.641600  4274.792857
2025-01-01 00:00:00  1271.441126   2.713811  0.000012 -194.077677  3536.617372
2025-01-01 00:15:00  1271.023989   1.570692  0.000012 -193.709565  3573.464001
2025-01-01 00:30:00  1271.482283   1.220092  0.000012 -249.695136  3649.335367
2025-01-01 00:45:00  1271.547756   2.382973  0.000018 -316.258660  3697.360457

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 26204 entries, 2024-12-31 23:45:00 to 2025-09-30 23:30:00
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Biomass  26204 non-null  float64
 1   Coal     26204 non-null  float64
 2   Gas      26204 non-null  float64
 3   Gas-CC   26204 non-null  float64
 4   Hydro    26204 non-null  float64
 5   Nuclear  26204 non-null  float64
 6   Other    26204 non-null  float64
 7   Solar    26204 non-null  float64
 8   WSL      26204 non-null  float64
 9   Wind     26204 non-null  float64
dtypes: float64(10)
memory usage: 2.2 MB

Fuel,Biomass,Coal,Gas,Gas-CC,Hydro,Nuclear,Other,Solar,WSL,Wind
datetime,,,,,,,,,,
2024-12-31 23:45:00,3.048085,1934.772915,296.505007,3839.913792,1.042736,1271.347524,13.749501,0.000018,-222.641600,4274.792857
2025-01-01 00:00:00,3.054841,1635.159759,222.914735,4356.562359,1.033143,1271.441126,2.713811,0.000012,-194.077677,3536.617372
2025-01-01 00:15:00,3.049060,1591.098918,224.037142,4359.891349,1.033923,1271.023989,1.570692,0.000012,-193.709565,3573.464001
2025-01-01 00:30:00,3.054768,1555.589102,224.465410,4359.030173,1.034740,1271.482283,1.220092,0.000012,-249.695136,3649.335367
2025-01-01 00:45:00,3.053916,1518.956907,232.559316,4384.863310,1.034923,1271.547756,2.382973,0.000018,-316.258660,3697.360457
...,...,...,...,...,...,...,...,...,...,...
2025-09-30 22:30:00,15.883263,2303.111797,1630.168277,6354.505602,4.777148,1252.260487,25.471235,0.000374,-31.265327,2772.102136
2025-09-30 22:45:00,15.883598,2204.549513,1557.743545,6198.068810,4.281369,1252.143288,13.543603,0.000396,-105.873400,2884.218085
2025-09-30 23:00:00,15.892906,2129.168671,1342.488751,6058.154326,0.000000,1252.180696,41.388584,0.000364,-93.618180,3022.936190
2025-09-30 23:15:00,15.876592,2065.096003,1102.549042,5993.472102,0.000000,1252.043115,20.793732,0.000356,-93.128710,3154.630685
2025-09-30 23:30:00,15.855991,1992.277405,998.225382,5899.082453,0.000000,1251.947178,17.708761,0.000360,-157.576073,3248.275284

In [6]:
from gridstatus import Ercot
ercot = Ercot()

In [7]:
ercot.get_fuel_mix("latest")

2025-11-09 08:27:40 - INFO - Requesting https://www.ercot.com/api/1/services/read/dashboards/fuel-mix.json with {}

,Time,Coal and Lignite,Hydro,Nuclear,Power Storage,Solar,Wind,Natural Gas,Other
0,2025-11-07 00:04:56-06:00,6144.143555,0.000000,4392.654785,402.015167,1.428761,23995.400391,11835.574980,0.0
1,2025-11-07 00:09:56-06:00,6237.263672,0.000000,4405.371582,215.424469,0.605437,24013.574219,11692.975319,0.0
2,2025-11-07 00:14:56-06:00,6471.045898,0.000000,4405.310059,71.763268,0.445807,23964.892578,11428.079790,0.0
3,2025-11-07 00:19:56-06:00,6556.156738,0.000000,4407.919922,47.327503,0.656503,23843.123047,11094.545027,0.0
4,2025-11-07 00:24:56-06:00,6443.469238,0.000000,4407.117676,88.569580,0.611149,23862.875000,11089.510120,0.0
...,...,...,...,...,...,...,...,...,...
492,2025-11-08 17:04:56-06:00,7172.600586,54.098518,5061.100586,4093.764648,4016.989258,16321.678711,21184.167908,0.0
493,2025-11-08 17:09:56-06:00,7175.628906,54.207901,5062.681641,4264.214355,3017.718994,16648.583984,21481.484737,0.0
494,2025-11-08 17:14:56-06:00,7208.358887,54.185467,5060.911621,4603.275391,2194.724609,16804.181641,21578.821735,0.0
495,2025-11-08 17:19:56-06:00,7195.438477,54.196533,5061.260742,5036.317383,1541.808228,16811.259766,21780.338680,0.0
496,2025-11-08 17:24:56-06:00,7167.854492,53.659302,5061.520508,5028.639160,986.007690,16795.855469,21851.509293,0.0